<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hackday</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea
                id="ascii"
                class="materialize-textarea"
                placeholder="Type in some ASCII"
              ></textarea>
              <label for="ascii">ASCII</label>
              <button
                class="btn waves-effect waves-light"
                name="submit"
                id="submit"
              >
                Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>

          <div class="input-field col s12">
            <textarea
              id="output"
              class="materialize-textarea"
              disabled
            ></textarea>
            <label for="output">Get a DNA string</label>
          </div>
        </form>
      </div>
      <div class="switch">
        <label>
          DNA
          <input type="checkbox" id="switchDna" />
          <span class="lever"></span>
          RNA
        </label>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script>
      $(document).ready(function() {
        $("#switchDna").on("change", function(event) {
          event.preventDefault();

          $(this).prop("checked")
            ? $("label[for=output]").text("Get an RNA string")
            : $("label[for=output]").text("Get a DNA string");
        });

        $("#submit").click(function(event) {
          event.preventDefault();

          //  Clean up the input
          let input = $("#ascii").val();

          //  Gets the AJAX url
          let urlStr = "";
          $("#switchDna").prop("checked")
            ? (urlStr = "/rna")
            : (urlStr = "/dna");

          $.ajax({
            url: urlStr,
            data: {
              input: input
            },
            method: "POST"
          })
            .then(data => {
              $("label[for=output]").text(data);
            })
            .catch(err => console.log(err));
        });
      });
    </script>
  </body>
</html>
